.username-text {
    -fx-background-radius: 30;
}
.signin-button {
    -fx-background-radius: 30;
}
.signup-button {
    -fx-background-radius: 30;
}
.loginretangle-button {
    -fx-background-radius: 30;
}